<section id="redirect-cancel">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <mat-icon class="cancel-icon">cancel</mat-icon>
        <h1>Payment Canceled</h1>
        <p>You canceled the Stripe payment process</p>
        <button color="primary" mat-flat-button routerLink="">Go Back To Checkout</button>
    </div>
</section>
