<nav id="app-header">
    <div class="container d-flex align-items-center pt-4 pb-4">
        <a href="https://www.xano.com" target="_blank">
            <img class="logo clickable"
                 src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"
                 width="250px"
            />
        </a>

        <a *ngIf="!apiConfigured else configured" class="ml-auto" href="https://www.xano.com/request-early-access"
           target="_blank">
            <strong>Request Xano Access</strong>
        </a>

        <ng-template #configured>
            <button (click)="openConfigPanel()" class="btn btn-link ml-auto" type="button">
                <strong>Settings</strong>
            </button>
        </ng-template>
    </div>
</nav>

