<section id="redirect-success">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <mat-icon class="success-icon">check</mat-icon>
        <h1>Payment Success</h1>
        <p>You completed the Stripe payment process</p>
        <button color="primary" mat-flat-button routerLink="">Go Back To Checkout</button>
    </div>
</section>
