<section>
    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let session of sessions">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{session.id}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mb-2">
                <button (click)="openPanel('session', session.id)" class="mr-2" mat-stroked-button> Get Session</button>
                <button (click)="openPanel('items', session.id)" mat-stroked-button> View Session Items</button>
            </div>
            <pre>{{session | json}}</pre>
        </mat-expansion-panel>
    </mat-accordion>
</section>
