<app-header></app-header>

<div class="container mt-4">
    <mat-card class="p-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="assets/images/stripe.png" width="250px"/>
            <h2 class="header">{{title.getTitle()}}</h2>
            <p>{{appSummary}}</p>
        </div>
        <app-action-bar></app-action-bar>
        <router-outlet></router-outlet>
    </mat-card>
</div>
