<section id="action-bar">
    <hr class="mt-4 mb-4"/>
    <div class="d-flex justify-content-end align-items-center">
        <div *ngIf="!isConfigured else configured" class="mr-auto">
            <button (click)="showPanel('config')"
                    color="primary" mat-flat-button>
                Test with your Xano account...
            </button>
            <a *ngIf="config.editLink" [href]="config.editLink" class="ml-4" mat-button target="_blank">
                {{config.editText}}
            </a>
        </div>

        <ng-template #configured>
            <button *ngIf="isHome"
                    class="mr-1"
                    color="primary"
                    mat-stroked-button
                    routerLink="sessions">
                View all Sessions
            </button>
            <button *ngIf="!isHome"
                    class="mr-1"
                    color="primary"
                    mat-stroked-button
                    routerLink="">
                Cart
            </button>
        </ng-template>
    </div>
    <hr class="mt-4 mb-4"/>
</section>

