<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{data?.type | titlecase}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
        <p *ngIf="data?.type === 'items'" >
            This grabbed the session's line items from: <br />
            <b>/sessions/&#123;id&#125;/line_items</b>
            <br /><br />

            <b>What is returned:</b><br />
            When retrieving a Checkout Session, there is an includable line_items property containing the first handful
            of those items. There is also a URL where you can retrieve the full (paginated) list of line items.
        </p>
        <p *ngIf="data?.type === 'session'">
            This grabbed a single session by its id from: <br />
            <b>/sessions/&#123;id&#125;</b>
            <br /><br />

            <b>What is returned:</b><br />
            A session's object.
        </p>
    </div>

    <div class="panel-content">
        <b>Response: </b>
        <br /><br />
        <mat-accordion multi *ngIf="data?.type === 'items'">
            <mat-expansion-panel *ngFor="let item of result">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.id}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <pre>{{item | json}}</pre>
            </mat-expansion-panel>
        </mat-accordion>
        <pre *ngIf="data?.type === 'session'" style="color: whitesmoke">{{result | json}}</pre>
    </div>
</section>
