<section id="home">
    <div *ngIf="!configured else Checkout">
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>

    <ng-template #Checkout>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <mat-card class="checkout-box">
                <div class="mb-4">
                    <h2>Cart</h2>
                    <mat-list>
                        <mat-list-item>
                            {{priceID}}
                            <mat-form-field class="w-25 ml-auto">
                                <mat-label>Quantity</mat-label>
                                <input [formControl]="quantityControl" matInput max="100" min="1" type="number"/>
                            </mat-form-field>
                        </mat-list-item>
                    </mat-list>
                </div>
                <mat-divider></mat-divider>
                <div class="d-flex justify-content-end align-items-end pt-4">
                    <button (click)="checkout()" color="primary" mat-flat-button>Checkout</button>
                </div>
            </mat-card>
        </div>
    </ng-template>
</section>
